@{
    ViewData["Title"] = "A propos";
}
<h2>@ViewData["Title"].</h2>

<p>Cette application à pour bute de centraliser la gestion des baptemes au sien d'une paroisse.</p>
<p>Objectifs :</p>
<ul>
	<li>Centraliser les informations sur les contacts</li>
	<li>Centraliser l'information sur les baptemes</li>
</ul>
