@{
    ViewData["Title"] = "Page non autorisée";
}

<div class="row">
	<div class="col-md-6">
		<h3>Vous avez déjà un compte!</h3>
		<p>...</p>
		<p><a asp-controller="Account" asp-action="Login" class="btn btn-primary btn-lg" role="button">Connection</a></p>
	</div>

	<div class="col-md-6">
		<h3>Demonstration!</h3>
		<p>...</p>
		<p><a class="btn btn-primary btn-lg" asp-controller="Demo" asp-action="Start" role="button">Demo</a></p>
	</div>

</div>

<div>
	@Html.Partial("~/Views/Paroisse/Index.cshtml")
</div>
