@model Bapteme.Models.Clocher

@{
	ViewData["Title"] = "Edit";
}
<form asp-action="Edit">
	<div class="form-horizontal">
		<h4>Modification Clocher</h4>
		<hr />
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<input type="hidden" asp-for="Id" />
		<div class="form-group">
			<label asp-for="Name" class="col-md-2 control-label"></label>
			<div class="col-md-10">
				<input asp-for="Name" class="form-control" />
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>
		</div>
		<div class="form-group">
			<label asp-for="Key" class="col-md-2 control-label"></label>
			<div class="col-md-10">
				<input asp-for="Key" class="form-control" />
				<span asp-validation-for="Key" class="text-danger"></span>
			</div>
		</div>
		@Html.HiddenFor(x => x.ParoisseId)
		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Save" class="btn btn-default" />
			</div>
		</div>
	</div>
	<div id="index_permanence">
		@Html.Partial("_indexPermanence", (List<Permanence>)ViewBag.Permanences)
	</div>
</form>
	<div class="panel panel-default">
		<div class="panel-body">
			<form class="form-inline"
				  asp-controller="ApiPermanences"
				  asp-action="PostPermanence"
				  data-ajax="true"
				  data-ajax-methode="replace"
				  data-ajax-update="#index_permanence">
				@Html.Hidden("ClocherId", Model.Id)
				<div class="form-group">
					<label class="control-label">Ajouter permanence :</label>
				</div>
				<div class="form-group">
					<select name="JourSemaine" asp-items="Html.GetEnumSelectList<JourSemaine>()" class="form-control"></select>
				</div>
				<div class="form-group">
					<input type="text" class="form-control" name="DebutHours" />
				</div>
				<div class="form-group">
					<input type="text" class="form-control" name="DebutMinutes" />
				</div>
				<div class="form-group">
					<input type="text" class="form-control" name="FinHours" />
				</div>
				<div class="form-group">
					<input type="text" class="form-control" name="FinMinutes" />
				</div>
				<button type="submit" class="btn btn-default">Ajouter</button>
			</form>
		</div>
	</div>

<div>
	@if (User.IsInRole("Admin"))
	{
		<a asp-action="Index">Liste clochers</a>
	}
	else
	{
		<a asp-action="Post" asp-controller="Clocher">Retour</a>

	}
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
