@model Bapteme.Models.Clocher
@{
    Layout ="_Layout";
}
<h2>@Model.Name</h2>
<p> @Html.ActionLink(Model.Paroisse.Name, "Post", "Paroisse", new { key = Model.Paroisse.Key })</p>
@if (ViewBag.roles.Contains(role.Manager) || User.IsInRole("Admin"))
{
	@Html.ActionLink("Modifier", "Edit", "Clocher", new { keyParoisse = Model.Paroisse.Key, keyClocher = Model.Key }, new { @class = "btn btn-default" })
}